<html>
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script src="semantic/dist/semantic.min.js"></script>
</head>
<body>
  <div class="ui container">
    <div class="ui two column grid">
      <div class="row">
        <div class="column">
          <br/>
          <h1 class="ui huge header">Clothing</h1>
        </div>
        <div class="column">
            <div class="row">
              <div class="ui column">
                <br/>
                  <div class="ui input">
                    <input type="text" placeholder="Username"></input>
                  </div>
                  <div class="ui input">
                    <input type="password" placeholder="Password"></input>
                  </div>
                  <button class="ui green button">Login</button>
              </div>
            </div>
            <div class="row">
              <br/>
              <div>
                <h3>Not in our records? Register below</h3>
              </div>
              <br/>
              <div class="ui input">
                <input type="text" placeholder="FirstName" size="50"></input>
              </div>
              <br/><br/>
              <div class="ui input">
                <input type="text" placeholder="LastName" size="50"></input>
              </div>
              <br/><br/>
              <div class="ui input">
                <input type="text" placeholder="EMail" size="50"></input>
              </div>
              <br/><br/>
              <div class="ui input">
                <input type="password" placeholder="New Password" size="50"></input>
              </div>
              <br/><br/>
              <div class="ui calendar"  id="dateTimePicker">
                <div class="ui input right icon">
                  <!-- $('dateTimePicker').calendar(); -->
                  <i class="calendar icon"></i>
                  <input type="text" placeholder="Date of Birth">
                </div>
              </div>
              <br/><br/>
              <button class="ui green button">Register</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
